<div id="form">
  <h2>Login</h2>
 
  <form action="/auth/login" method="POST">
 
    <label>Email
      <input type="text" name="email" placeholder="enter email" />
    </label>
 
    <label>Password
      <input type="password" name="password" placeholder="********" />
    </label>
 
    <button type="Login">Login</button>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>