
  <h2>Signup</h2>
  <form action="/auth/signup" method="POST">
 
    <label> Username
      <input type="text" name="username" placeholder="example: Charlie" />
    </label>
 
    <label> Email
      <input type="text" name="email" placeholder="example@example.com" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <label>Select Role
         <select name="role">
            <option value="user">User</option>
            <option value="craftsman">Craftsman</option>
         </select>
    </label>
 
    <button type="Create Account">Create account</button>
 
    {{!-- error message will be added here --}}
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
  </form>

