<h2>Edit Post</h2>
<form action="/post/{{_id}}/edit" method="post">
  <label> Title:
    <input type="text" name="title" value="{{name}}"/>
  </label>
 
  <label> Description:
    <textarea name="" id="" cols="30" rows="10">{{description}}</textarea>
  </label>

  <label for="">Edit image
      <img src="{{image}}" alt="">
      <input type="file" value="Changue Image" name="image">
  </label>
 

  <button type="submit" class="btn btn-primary"> Edit</button>
</form>