<header class="shadow">
    <div class="container" style="margin: 40px 0;">
    <nav class="navbar navbar-expand-md  fixed-top bg-white" style="box-shadow: 2px 3px 3px rgba(0,0,0,0.3);">
      <a class="navbar-brand" href="/"> 
        <img src="images/logo.png" alt="" width="100" height="100">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarCollapse">
        <ul class="nav justify-content-end mr-5">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/post/post">Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/auth/login">logIn</a>
          </li>
           <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/auth/user-profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signup">SignUp</a>
          </li>
         
        </ul>
       
      </div>
    </nav>
  </div>
  </header>

          <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="images/b1.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption ">
                    <h5 class="animate__animated animate__bounce animate__fadeInDown " style="animation-delay: 1s;">If you can dream it</h5>
                    <p class="animate__animated animate__bounce animate__fadeInDown d-none d-md-block" style="animation-delay: 2s;">You can do it</p>
                    <p class="animate__animated animate__bounce animate__fadeInUp" style="animation-delay: 1s;" >
                      
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="images/b3.jpeg" class="d-block w-100" alt="...">
                  <div class="carousel-caption">
                    <h5 class="animate__animated animate__bounce animate__fadeInDown" style="animation-delay: 1s;">Handmade</h5>
                    <p class="animate__animated animate__bounce animate__fadeInDown" style="animation-delay: 2s;">Is made with the heart</p>
                    <p class="animated fadeInUp" style="animation-delay: 1s;" >
                        
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="images/b2.jpeg" class="d-block w-100" alt="...">
                  <div class="carousel-caption">
                    <h5 class="animate__animated animate__bounce animate__fadeInDown" style="animation-delay: 1s;">In crafting there are no mistakes</h5>
                    <p class="animate__animated animate__bounce animate__fadeInDown" style="animation-delay: 2s;">Just unique creations</p>
                    <p class="animated fadeInUp" style="animation-delay: 1s;" >
                       
                    </p>
                  </div>
                </div>
              </div>
            
            </div>
          </div>

          <div class="services py-5">
            <div class="container py-5">
              <h2 class="title">services</h2>
              <div class="row pb-3">
                <div class="col-lg-4 mb-3">
                  <div class="card shadow text-center">
                    <div class="card-body">
                      <div class="circle text-center">
                        <span><i class="fa fa-envelopes-bulk"></i></i></span>
                      </div>
                      <h4 class="font-weight-bold pb-2">Post</h4>
                      <p>Discover the brand, discover the craftsman behind

                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="parallax">
            <div class="contain">

              <h3 class="">everything you put love becomes magic, just dream it and do it!</h3>
            </div>
          </div>
   

          <section class="team section-bg" id="team">
            <div class="container" data-aos="fade-up">
              <div class="section-title">
                <h2 class="title">Team</h2>
      

              </div>
              <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                      <img src="images/mauro.PNG" alt="" class="img-fluid">
                    </div>
                    <div class="member-info">
                      <h4>Mauro Molina</h4>
                      <span>Developer Web</span>
                    </div>
                   
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                      <img src="images/carlos.PNG" alt="" class="img-fluid">
                  
                    </div>
                    <div class="member-info">
                      <h4>Carlos Rodriguez</h4>
                      <span>Developer Web</span>
                    </div>
                   
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                      <img src="images/nayi.PNG" alt="" class="img-fluid">
                    </div>
                    <div class="member-info">
                      <h4>Nayibi Betancourt</h4>
                      <span>Developer Web</span>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </section>
          <footer class="footer p-3 mt-5">
            <h5>Copyright 2022 ARTS-CRAFT-BAZZAR All Rights Reserved</h5>
          </footer>
