<p>Aqui vamos a tener el perfil :)</p>
<img src="/images/user.png">

  <h2>Welcome, {{ username }}!</h2>
  <p>This is your profile page my friend!</p>
  <form id="logout-form" action="/auth/logout" method="POST">
    <button>Logout</button>
  </form>
  <button>
    <a href="/user/profile">Reload the page</a>
  </button>